<h1 class="dashboard-heading">Studio</h1>
<div class="main-dashboard-div">
    <div class="edit-dashboard-flex">
        <input type="text" placeholder="Search" [(ngModel)]="search" (ngModelChange)="filterData()">
        <button (click)="newPage()">+ New Page</button>
    </div>
<nz-card>
    <div class="edit-dashboard-card" nz-card-grid [ngStyle]="gridStyle" *ngFor="let data of grid_filterd_list">
        <p>{{data.page_name}}</p>
        <ul nz-menu nzMode="inline" class="edit-dashboard-card-menu">
            <li nz-submenu nzIcon="mail" >
              <ul>
                    <li nz-menu-item nzSelected (click)="edit(data)">Edit</li>
                    <li nz-menu-item (click)="delete(data)">Delete</li>
              </ul>
            </li>
          </ul>
    </div>
    
    
  </nz-card>



</div>