.main-dashboard-header{
    display: flex;
    flex-direction: row;
    margin-right: 2.5vw;
    justify-content: space-between;
}
.main-dashboard-header button{
    width: fit-content;
    background-color: rgb(48, 48, 193);
    color: white;
    padding: 0.5vw;
    font-size: 1vw;
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
    border: none;
}

.main-dashboard-div{
    width: 95vw;
    margin: auto;
    padding: 2vw;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.119);
}
.dashboard-heading{
    padding: 2vw;
    padding-bottom: 1vw;
    font-size: 2vw;
}

.main-dashboard-div input{
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.119);
    border: none;
    border-radius: 10px;
    width: 100%;
    padding: 0.5vw;
    font-size: 1vw;
}

.ant-card-hoverable{
    margin: 1vw;
}

@media screen and (max-width: 500px) {
    .dashboard-heading{
        font-size: 7vw;
    }
    .main-dashboard-header button{
        font-size: 2vw;
        padding: 1.2vw;
    }
    .main-dashboard-div input{
        font-size: 5vw;
    }
    .ant-card-hoverable img{
        height: 25vw;
        width: auto;
    }
    .ant-card-hoverable{
        width: 100% !important;
        margin: auto;
    }
}